.bg-blue {
    background-color: #113f67;
}

.subtitle {
    font-weight: bold;
    color: #113f67;
}

.poster img {
    width: 215px;
    height: 310px;
    background-size: cover;
    border-radius: 20px;
}

.posters div img {
    width: 215px;
    height: 310px;
    background-size: cover;
    border-radius: 20px;
}

a .label-blue {
    text-decoration: none;
}

.label-blue {
    text-align: center;
    padding: 10px;
    background-color: #113f67;
    color: #fefd29;
    border: 10px 10px 10px 10px;
    border-radius: 8px;
    margin-right: 10px;
    text-decoration: none;
}

.cinema-seats {
    font-size: 40px;
}

.btn-place {
    color: #113f67;
    border: none;
    background-color: white;
}

.btn-place-active {
    color: #fdd200;
    border: none;
    background-color: white;
}

.btn-place:hover {
    color: #fdd200;
}

/* Radious */
.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked + label > img {
    border: 2px solid #56a7ee;
}

input[type="radio"] + label > img {
    border: 2px solid #e6e6e6;
    height: 100px;
    border-radius: 25px;
    padding: 5px;
}

.input-hide {
    border: none;
    background-color: none;
    color: #898d9e;
    width: 82%;
}

.purchase-success {
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    /* IMPORTANTE */
    text-align: center;
}

.disponivel {
    background-color: #113f67;
    width: 30px;
    height: 30px;
}

.usado {
    background-color: #fdd200;
    width: 30px;
    height: 30px;
}
